.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 30px;
    height: 50px;
}